body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#corpoDireito{
    width: 80%;
    height: 100%;
}

#corpoEsquerdo{
    width: 20%;
    height: 100%;
}

.esqueleto{
    float: left;
}

#ossoPlayer {
    background-color: greenyellow;
    height: 10%;
    width: 100%;
}

#ossoPlateia {
    background-color: rgb(47, 255, 245);
    height: 80%;
    width: 100%;
}

#ossoReacoes {
    background-color: rgb(189, 47, 255);
    height: 10%;
    width: 100%;
}

/* Osso Pesquisa */

#ossoPesquisa {
    background-color: rgb(90, 90, 90);
    height: 100%;
    width: 100%;
}

#estruturaPesquisa {
    height: 100%;
    width: 100%;
}

#resultadoPesquisa {
    height: 90%;
}

#barraPesquisa {
    height: 10%;
}

#estruturaPlaylist {
    height: 100%;
    width: 100%;
}

#playlist {
    height: 90%;    
}

#adicionarPlaylist {
    height: 10%;
    width: 100%;
    text-overflow: "...";
}

#topoPesquisa {
    height: 11%;
}

#topoPesquisaX {
    background-color: rgb(27, 27, 27);
    width: 20%;
    height: 100%;
    color: white;
    padding-top: 6%;
    padding-left: 8%;
    font-size: 150%;
    text-overflow: "…";
    float: left;
    cursor: pointer;
}

#topoPesquisaTitulo{
    background-color: rgb(51, 51, 51);
    color: white;
    padding-top: 6%;
    padding-left: 6%;
    width: 80%;
    height: 100%;
    text-overflow: "…";
    float: right;
}